@{
    ViewBag.Title = "Главная админ-панели";
}

<section class="informs">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="informs-block">
                    <div class="informs-block-l" id="block-users">
                        <i class="fa fa-user" aria-hidden="true"></i>
                    </div>
                    <div class="informs-block-r" ng-controller="UserCtrl">
                        <span id="block-counter" ng-bind="users.length"></span>
                        <br>
                        <span id="block-content">Пользователей в системе</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="informs-block">
                    <div class="informs-block-l" id="block-questionnaire">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    </div>
                    <div class="informs-block-r" ng-controller="QuestionnaireManageCtrl">
                        <span id="block-counter" ng-bind="questionnaires.length"></span>
                        <br>
                        <span id="block-content">Анкет заполнено</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="informs-block">
                    <div class="informs-block-l" id="block-test">
                        <i class="fa fa-list-alt" aria-hidden="true"></i>
                    </div>
                    <div class="informs-block-r" ng-controller="TestsCtrl">
                        <span id="block-counter" ng-bind="tests.length"></span>
                        <br>
                        <span id="block-content">Теста готовы к выдаче</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="usertable" ng-controller="AdminCtrl">
    <div class="container">
        <div class="table-top">
            <i class="fa fa-file-text-o" aria-hidden="true"></i>
            Список действий в системе
        </div>
        <table>
            <tr id="tr-head">
                <td>
                    Дата
                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                </td>
                <td>
                    Пользователь
                    <i class="fa fa-user" aria-hidden="true"></i>
                </td>
                <td>
                    Действие
                    <i class="fa fa-history" aria-hidden="true"></i>
                </td>
            </tr>

            <tr  ng-repeat="item in log | orderBy:'Date':true">
                <td ng-cloak>{{item.Date | jsDate | date:"yyyy-MM-dd"+" - "+"h:mm:ss a"}}</td>
                <td ng-cloak>{{item.Username}}</td>
                <td ng-cloak>{{item.Message}}</td>
            </tr>

        </table>
        <div class="table-end"></div>
    </div>
</section>

