@{
    ViewBag.Title = "Все пользователи в системе";
}

<section class="usertable" ng-controller="UserCtrl">

    <div class="container">
        <div class="search-wrapper">
            <input type="text" placeholder="Поиск..." class="input-g" ng-model="search" />
        </div>
    </div>

    <div class="container">

        <div class="table-top">
            <i class="fa fa-users" aria-hidden="true"></i>
            Все пользователи в системе
        </div>
        <table>
            <tr id="tr-head">
                <td>
                    Пользователь
                </td>
                <td>
                    Имя участника-пользователя
                </td>
                <td>
                    Логин в AD
                </td>
                <td>
                    Email
                </td>
                <td>
                    Номер телефона
                </td>
                <td></td>
            </tr>

            <tr ng-repeat="item in users | filter : search">
                <td ng-cloak>{{item.Name}}</td>
                <td ng-cloak>{{item.UserPrincipalName}}</td>
                <td ng-cloak>{{item.SamAccoutName}}</td>
                <td ng-cloak>{{item.Email}}</td>
                <td ng-cloak>{{item.PhoneNumber}}</td>
                <td>
                    <a href="/user/profile/{{item.Id}}" class="button-primary" ng-cloak>Просмотреть профиль</a>
                </td>
            </tr>

        </table>
        <div class="table-end"></div>
    </div>
</section>
