@model APRST.WEB.Models.TestCategoryViewModel

@{
    ViewBag.Title = "Удаление категории";
}

<h2>Удаление категории</h2>

<h3>Вы уверены, что хотите удалить данную категорию?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Название
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameOfCategory)
        </dd>

        <dt>
            Описание
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Desc)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Назад, к списку категорий", "Index")
        </div>
    }
</div>
