@model APRST.WEB.Models.TestCategoryViewModel

<section class="usertable" ng-controller="CategoryCtrl">
    <div class="table-top">
        <i class="fa fa-file-text-o" aria-hidden="true"></i>
        Категории тестов
        <button class="button-g" ng-click="cancel()">Закрыть</button>
        <button class="button-g" ng-click="CreateCategory()">Добавить категорию</button>
    </div>
    <table>
        <tr ng-show="trAdd" class="animate-show">
            <td>
                <input type="text" class="input-g" placeholder="Название категории" ng-model="NameOfCategory"/>
            </td>
            <td>
                <input type="text" class="input-g" placeholder="Описание" ng-model="Desc"/>
            </td>
            <td style="text-align: right;">
                <button class="button-edit" ng-click="AddCategory()">Добавить</button>
                <button class="button-edit" ng-click="CancelCategory()">Отмена</button>
            </td>
        </tr>

        <tr ng-show="trEdit" class="animate-show">
            <td>
                <input type="text" class="input-g" placeholder="Название категории" ng-model="NameOfCategory"/>
            </td>
            <td>
                <input type="text" class="input-g" placeholder="Описание" ng-model="Desc"/>
            </td>
            <td style="text-align: right;">
                <button class="button-edit" ng-click="EditCategory()">Сохранить</button>
                <button class="button-edit" ng-click="CancelCategory()">Отмена</button>
            </td>
        </tr>

        <tr ng-show="trDelete" class="animate-show">
            <td>
                <input type="text" class="input-g input-g-delete" placeholder="Название категории" ng-model="NameOfCategory" />
            </td>
            <td>
                <input type="text" class="input-g input-g-delete" placeholder="Описание" ng-model="Desc" />
            </td>
            <td style="text-align: right;">
                <button class="button-edit" ng-click="DeleteCategory()">Удалить</button>
                <button class="button-edit" ng-click="CancelCategory()">Отмена</button>
            </td>
        </tr>

        <tr id="tr-head">
            <td>
                Название
            </td>
            <td>
                Описание
            </td>
            <td></td>
        </tr>

        <tr ng-repeat="item in categories" class="b-vs-true">
            <td ng-cloak><span uib-tooltip="{{item.NameOfCategory}}" tooltip-placement="bottom">{{item.NameOfCategory | limitTo: 20}}{{item.NameOfCategory.length > 20 ? '...' : ''}}</span></td>
            <td ng-cloak><span uib-tooltip="{{item.Desc}}" tooltip-placement="bottom">{{item.Desc | limitTo: 25}}{{item.Desc.length > 25 ? '...' : ''}}</span></td>
            <td style="text-align: right;">
                <div class="b-vs-false">
                    <button class="button-edit" ng-click="ShowEditCategory(item)"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                    <button class="button-edit" ng-click="ShowDeleteCategory(item)"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                </div>
            </td>
        </tr>

    </table>
    <div class="table-end"></div>
</section>
