<section class="usertable">
    <div class="table-top">
        <i class="fa fa-files-o" aria-hidden="true"></i>
        Удаление вопроса
        <button class="button-g" ng-click="cancel()">Отмена</button>
    </div>
    <div class="table-body">
        <div class="t-desc-wrapper">
            <h4>{{question.Question}}</h4>
        </div>
        <br/>
        <div>
            <button class="button-primary" ng-click="delete()">Удалить</button>
        </div>
    </div>
    <div class="table-end"></div>
</section>