@model APRST.WEB.Models.TestQuestionViewModel

<section class="usertable">
    <div class="table-top">
        <i class="fa fa-files-o" aria-hidden="true"></i>
        Добавление вопроса к тесту
        <button class="button-g" ng-click="cancel()">Закрыть</button>
    </div>

    <div class="table-body">
        @using (Html.BeginForm())
        {
            <input name="TestId" type="text" value="@ViewBag.TestId" hidden/>

            <div>
                @Html.EditorFor(model => model.Question, new {htmlAttributes = new {@class = "input-g", placeholder = "Название вопроса"}})
            </div>

            <br />

            <div>
                <input type="submit" value="Добавить вопрос" class="button-primary" />
            </div>
        }
    </div>

    <div class="table-end"></div>
</section>