@model APRST.WEB.Models.TestQuestionViewModel

@{
    ViewBag.Title = "Удаление";
}

<h2>Удаление</h2>

<h3>Вы действительно хотите удалить данный вопрос?</h3>
<div>
    <h4>@Html.DisplayFor(model => model.Question)</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            Название вопроса
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Question)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Назад, к списку вопросов", "Index")
        </div>
    }
</div>
