@model APRST.WEB.Models.TestQuestionViewModel

<section class="usertable">
    <div class="table-top">
        <i class="fa fa-files-o" aria-hidden="true"></i>
        Удаление вопроса
        <button class="button-g" ng-click="cancel()">Закрыть</button>
    </div>
    <div class="table-body">
        <div class="t-desc-wrapper">
            <h4>@Html.DisplayFor(model => model.Question)</h4>
        </div>
        <hr />
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div>
                <input type="submit" value="Удалить" class="button-primary" />
            </div>
        }
    </div>
    <div class="table-end"></div>
</section>