@model APRST.WEB.Models.TestQuestionIncludeAnswersViewModel

@{
    ViewBag.Title = "Подробнее о вопросе";
}

<section class="usertable" ng-controller="AnswersCtrl">

    <div class="container">
        <div class="search-wrapper">
            <input type="text" placeholder="Поиск..." class="input-g" ng-model="search" />
        </div>
    </div>

    <div class="container">

        <input type="number" value="@ViewBag.QuestionId" id="QuestionId" hidden />

        <div class="table-top">
            <i class="fa fa-file-text-o" aria-hidden="true"></i>
            Ответы к вопросу: {{answers.Question}}
            <button class="button-g" ng-click="CreateAnswer('', answers.Id)">Добавить ответ к вопросу</button>
        </div>
        <table>
            <tr id="tr-head">
                <td>
                    Ответ
                </td>
                <td>
                    Балл
                </td>
                <td></td>
            </tr>

            <tr ng-repeat="item in answers.Answers | filter : search" class="b-vs-true">
                <td ng-cloak>{{item.Answer}}</td>
                <td ng-cloak>{{item.Point}}</td>
                <td style="text-align: right;">
                    <div class="b-vs-false">
                        <button class="button-edit" ng-click="EditAnswer('',item.Id)"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                        <button class="button-edit" ng-click="DeleteAnswer('sm',item.Id)"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                    </div>
                </td>
            </tr>

        </table>
        <div class="table-end"></div>
    </div>
</section>