@model APRST.WEB.Models.TestQuestionViewModel

@{
    ViewBag.Title = "Редактирование вопроса";
}

<section class="usertable">
    <div class="table-top">
        <i class="fa fa-files-o" aria-hidden="true"></i>
        Редактирование вопроса
        <button class="button-g" ng-click="cancel()">Закрыть</button>
    </div>

    <div class="table-body">
        @using (Html.BeginForm())
        {
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.TestId)

            <div>
                @Html.EditorFor(model => model.Question, new { htmlAttributes = new { @class = "input-g" } })
            </div>

            <br />

            <div>
                <input type="submit" value="Сохранить изменения" class="button-primary" />
            </div>
        }
    </div>

    <div class="table-end"></div>
</section>