<section class="usertable" ng-controller="TestsCtrl">
    <div class="container">
        <div class="row">
            <div ng-class="selectedClass">
                <div class="search-wrapper">
                    <input type="text" placeholder="Поиск теста..." class="input-g" ng-model="search" />
                </div>

                <div class="table-top">
                    <i class="fa fa-file-text-o" aria-hidden="true"></i>
                    Все тесты в системе

                    <button class="button-g" ng-click="CreateTest()">Создать новый тест</button>
                    <button class="button-g" ng-click="showCategories()">Категории тестов</button>
                </div>
                <table>
                    <tr id="tr-head">
                        <td>
                            Название
                        </td>
                        <td>
                            Описание
                        </td>
                        <td>
                            Категория
                        </td>
                        <td></td>
                    </tr>

                    <tr ng-repeat="item in tests.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage)) | filter : search" class="b-vs-true">
                        <td ng-cloak>{{item.NameOfTest}}</td>
                        <td ng-cloak>{{item.Desc}}</td>
                        <td ng-cloak>{{item.Category}}</td>
                        <td style="text-align: right;">
                            <div class="b-vs-false">
                                <button class="button-edit" ng-click="ShowQuestions(item)">Вопросы</button>
                                <button class="button-edit" ng-click="EditTest('', item)"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                                <button class="button-edit" ng-click="DeleteTest('sm', item)"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                            </div>
                        </td>
                    </tr>

                </table>
                <div class="table-end"></div>
                <uib-pagination total-items="TotalItems" ng-model="currentPage" class="pagination-sm" boundary-link-numbers="true" rotate="false" previous-text="Предыдущая" next-text="Следующая"></uib-pagination>
            </div>
            <div ng-include="questions" class="active-section-questions"></div>
        </div>
    </div>
</section>
