@model APRST.WEB.Models.TestInfoViewModel

@{
    ViewBag.Title = "Удаление теста";
}

<section class="usertable">
    <div class="table-top">
        <i class="fa fa-files-o" aria-hidden="true"></i>
        Удаление теста
        <button class="button-g" ng-click="cancel()">Закрыть</button>
    </div>

    <div class="table-body">
        <div class="t-desc-wrapper">
            <h4>@Html.DisplayFor(model => model.NameOfTest)</h4>
        </div>
        <div class="desc-wrapper">
            @Html.DisplayFor(model => model.Desc)
        </div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div>
                <input type="submit" value="Удалить" class="button-primary" />
            </div>
        }
    </div>
    <div class="table-end"></div>
</section>