@{
    ViewBag.Title = "Вопросы к тесту - " + ViewBag.TestName;
}

<section class="usertable" ng-controller="QuestionsCtrl">

    <div class="container">
        <div class="search-wrapper">
            <input type="text" placeholder="Поиск..." class="input-g" ng-model="search" />
        </div>
    </div>

    <div class="container">

        <input type="number" value="@ViewBag.TestId" id="TestId" hidden/>

        <div class="table-top">
            <i class="fa fa-file-text-o" aria-hidden="true"></i>
            Все вопросы теста: @ViewBag.TestName
            <button class="button-g" ng-click="CreateQuestion('', questions.Id)">Добавить вопрос к тесту</button>
        </div>
        <table>
            <tr id="tr-head">
                <td>
                    Вопрос
                </td>
                <td></td>
            </tr>

            <tr ng-repeat="item in questions.Questions | filter : search" class="b-vs-true">
                <td ng-cloak>{{item.Question}}</td>
                <td style="text-align: right;">
                    <div class="b-vs-false">
                        <a href="/Question/Details/{{item.Id}}" class="button-edit">Ответы</a>
                        <button class="button-edit" ng-click="EditQuestion('',item.Id)"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                        <button class="button-edit" ng-click="DeleteQuestion('sm',item.Id)"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                    </div>
                </td>
            </tr>

        </table>
        <div class="table-end"></div>
    </div>
</section>