@model APRST.WEB.Models.TestViewModel

<section class="usertable">
    <div class="table-top">
        <i class="fa fa-files-o" aria-hidden="true"></i>
        Редактирование теста
        <button class="button-g" ng-click="cancel()">Закрыть</button>
    </div>

    <div class="table-body">
        @using (Html.BeginForm())
        {
            <div>
                @Html.EditorFor(model => model.NameOfTest, new { htmlAttributes = new { @class = "input-g", placeholder = "Название" } })
            </div>
            <br />
            <div>
                @Html.EditorFor(model => model.Desc, new { htmlAttributes = new { @class = "input-g", placeholder = "Описание" } })
            </div>
            <br />
            <div class="modal-category">
                <div class="modal-category-l">
                    @Html.LabelFor(model => model.TestCategoryId, "Категория", htmlAttributes: new { @class = "modal-label" })
                </div>

                <div class="modal-category-r">
                    @Html.DropDownList("TestCategoryId", null, htmlAttributes: new { @class = "input-g" })
                </div>
            </div>
            <br />
            <div>
                <input type="submit" value="Сохранить изменения" class="button-primary" />
            </div>
        }
    </div>
    <div class="table-end"></div>
</section>