@model IEnumerable<APRST.WEB.Models.TestInfoViewModel>

@{
    ViewBag.Title = "Тесты";
}

<section class="usertable" ng-controller="TestsCtrl">

    <div class="container">
        <div class="search-wrapper">
            <input type="text" placeholder="Поиск..." class="input-g" ng-model="search" />
        </div>
    </div>

    <div class="container">

        <div class="table-top">
            <i class="fa fa-file-text-o" aria-hidden="true"></i>
            Все тесты в системе

            <button class="button-g" ng-click="CreateTest()">Создать новый тест</button>
            <button class="button-g" ng-click="showCategories()">Категории тестов</button>
        </div>
        <table>
            <tr id="tr-head">
                <td>
                    Название
                </td>
                <td>
                    Описание
                </td>
                <td>
                    Категория
                </td>
                <td></td>
            </tr>

            <tr ng-repeat="item in tests | filter : search" class="b-vs-true">
                <td ng-cloak>{{item.NameOfTest}}</td>
                <td ng-cloak>{{item.Desc}}</td>
                <td ng-cloak>{{item.Category}}</td>
                <td style="text-align: right;">
                    <div class="b-vs-false">
                        <a href="/Test/Details/{{item.Id}}" class="button-edit">Вопросы</a>
                        <button class="button-edit" ng-click="EditTest('',item.Id)"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                        <button class="button-edit" ng-click="DeleteTest('sm',item.Id)"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                    </div>
                </td>
            </tr>

        </table>
        <div class="table-end"></div>
    </div>
</section>