@model IEnumerable<APRST.WEB.Models.TestQuestionIncludeAnswersViewModel>

@{
    ViewBag.Title = "Прохождение теста - " + ViewBag.TestName;
}

<section class="usertable" ng-controller="TestsingCtrl">
    <div class="container">
        <div class="table-top">
            <i class="fa fa-check-square-o" aria-hidden="true"></i>
            Прохождение теста - @ViewBag.TestName
        </div>

        <div class="table-body" ng-show="divTestResult">

            <span class="congrats">Тест завершен!</span>
            <br/>
            <span class="congrats congrats-b">Результаты тестирования отражены в вашем профиле.</span>
            <hr/>
            @Html.RouteLink("Перейти к профилю", new { action = "Index", controller = "User" }, htmlAttributes: new { @class = "button-primary"});

        </div>

        <div class="table-body" ng-show="divTest">

            <input type="number" value="@ViewBag.TestId" id="TestId" disabled hidden/>

            <div ng-repeat="item in QnAs" class="test-wrapper">

                <div class="test-wrapper-title">
                    {{item.Question}}
                </div>

                <div class="test-wrapper-body">
                    <div ng-repeat="answ in item.Answers">
                        <input type="radio" value="{{answ.Answer}}" name="{{item.Id}}" id="{{answ.Id}}">
                        <label for="{{answ.Id}}">{{answ.Answer}}</label>
                    </div>
                </div>
            </div>

            <button class="button-primary" type="button" ng-click="finishTest()">Закончить тест</button>

        </div>

        <div class="table-end"></div>
    </div>
</section>