@model APRST.WEB.Models.TestAnswerViewModel

@{
    ViewBag.Title = "Удаление ответа";
}

<h2>Удаление ответа</h2>

<h3>Вы уверены, что хотите удалить данный ответ?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            Балл за ответ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Point)
        </dd>

        <dt>
            Ответ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Answer)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            <a href="@Request.UrlReferrer.ToString()">Назад, к списку ответов</a>
        </div>
    }
</div>
