@model APRST.WEB.Models.TestAnswerViewModel

<section class="usertable">
    <div class="table-top">
        <i class="fa fa-files-o" aria-hidden="true"></i>
        Удаление ответа
        <button class="button-g" ng-click="cancel()">Закрыть</button>
    </div>
    <div class="table-body">
        <div class="t-desc-wrapper">
            <h4>@Html.DisplayFor(model => model.Answer)</h4>
        </div>
        <div class="desc-wrapper">
            Балл за ответ: @Html.DisplayFor(model => model.Point)
        </div>
        @using (Html.BeginForm())
        {
            <div>
                <input type="submit" value="Удалить" class="button-primary" />
            </div>
        }
    </div>
    <div class="table-end"></div>
</section>