@model APRST.WEB.Models.TestAnswerViewModel

<section class="usertable">
    <div class="table-top">
        <i class="fa fa-files-o" aria-hidden="true"></i>
        Редактирование ответа
        <button class="button-g" ng-click="cancel()">Закрыть</button>
    </div>
    <div class="table-body">
        @using (Html.BeginForm())
        {
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.QuestionId, new { htmlAttributes = new { @class = "form-control" } })
            <div>
                @Html.EditorFor(model => model.Answer, new { htmlAttributes = new { @class = "input-g", placeholder = "Текст ответа" } })
            </div>
            <br />
            <div>
                @Html.EditorFor(model => model.Point, new { htmlAttributes = new { @class = "input-g", placeholder = "Бал за ответ" } })
            </div>
            <br />
            <div>
                <input type="submit" value="Сохранить изменения" class="button-primary" />
            </div>
        }
    </div>
    <div class="table-end"></div>
</section>