<div class="table-top">
    <i class="fa fa-files-o" aria-hidden="true"></i>
    Редактирование данных пользователя
    <button class="button-g" ng-click="cancel()">Закрыть</button>
</div>
<div class="table-body">
    <div>
        <input type="text" value="{{userProfile.Name}}" placeholder="Ваше имя" ng-model="userProfile.Name" class="input-g" />
    </div>
    <br />
    <div>
        <input type="text" value="{{userProfile.Email}}" placeholder="Ваш адрес электронной почты" ng-model="userProfile.Email" class="input-g" />
    </div>
    <br />
    <div>
        <input type="text" value="{{userProfile.PhoneNumber}}" placeholder="Ваш номер мобильного телефона" ng-model="userProfile.PhoneNumber" class="input-g" />
    </div>
    <br />
    <div>
        <button class="button-primary" ng-click="ok()">Сохранить</button>
    </div>
</div>
<div class="table-end"></div>