<div class="modal-userprofile">
    <div class="profile-table">
        <div class="profile-username">
            <div class="profile-avatar" ng-bind-html="avatar"></div>
            {{userProfile.Name}}
            <button class="button-g" ng-click="cancel()">Закрыть</button>
        </div>

        <div class="profile-info">
            <table>
                <tr>
                    <td class="profile-info-i-td">Доменное имя:</td>
                    <td>{{userProfile.UserPrincipalName}}</td>
                </tr>

                <tr>
                    <td class="profile-info-i-td">Группа:</td>
                    <td>
                        {{userProfile.Role}}
                        <button style="opacity: 0.3;" class="button-g" ng-click="changeRole()" ng-if="isAdmin">Изменить группу</button>
                    </td>
                </tr>

                <tr>
                    <td class="profile-info-i-td">Email:</td>
                    <td>{{userProfile.Email}}</td>
                </tr>

                <tr>
                    <td class="profile-info-i-td">Номер телефона:</td>
                    <td>{{userProfile.PhoneNumber}}</td>
                </tr>
            </table>
        </div>

        <div class="profile-info-block">
            <a href ng-repeat="item in userProfile.TestResults | limitTo: -3 | orderBy:'Date':true">
                <div class="profile-counter" ng-cloak>{{item.Point}}</div>
                <div class="profile-c-label" ng-cloak>{{item.TestName}}</div>
                <div class="profile-d-label" ng-cloak>{{item.Date | date:'medium'}}</div>
            </a>
            <a href ng-if="userNoTestsResults">
                <div class="profile-no-tests">Пользователь не участвовал в тестировании.</div>
            </a>
        </div>
    </div>

    <div class="usertable">
            <div class="table-top">
                <i class="fa fa-file-text-o" aria-hidden="true"></i>
                Доступные тесты
                <button class="button-g" ng-click="giveTest()" ng-if="isAdmin">Выдать тест</button>
            </div>
            <table>
                <tr id="tr-head">
                    <td>Название теста</td>
                    <td>Описание</td>
                </tr>

                <tr ng-if="userNoTests">
                    <td colspan="2" style="text-align: center;">У пользователя нет доступных тестов.</td>
                </tr>

                <tr ng-repeat="item in userProfile.Tests">
                    <td>{{item.NameOfTest}}</td>
                    <td>{{item.Desc}}</td>
                </tr>

            </table>
            <div class="table-end"></div>
    </div>
</div>